section.presentation
	.presentation__intro
		h2.presentation__intro-heading Все еще сомневаетесь?
		p.presentation__intro-subheading Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
	iframe.presentation__video(title="presentation" src="" data-src="https://www.youtube.com/embed/Rr9tYAUT4OQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)