.features
	.features__promo
		.features__promo-text.features__promo-text--decor
			h2.features__promo-heading.features__promo-heading--white Настоящий городок
			span.features__promo-num №1
			p.features__promo-subheading Седона - не аттракцион для туристов, там течет своя жизнь
		.features__promo-img.features__promo-img--city.no-webp
	.features__items.features__items--main
		.features__item.features__item--main
			img.features__item-img(src="../img/sprites/sprite.svg#house" alt="feature")
			.features__item-caption
				h2.features__item-heading Жилье
				p.features__item-subheading Рекомендуем пожить в настоящем мотеле, все как в кино!
		.features__item.features__item--main
			img.features__item-img(src="../img/sprites/sprite.svg#food" alt="feature")
			.features__item-caption
				h2.features__item-heading Еда
				p.features__item-subheading Всегда заказывайте фирменный бургер, Вы не разочаруетесь!
		.features__item.features__item--main
			img.features__item-img(src="../img/sprites/sprite.svg#gift" alt="feature")
			.features__item-caption
				h2.features__item-heading Сувениры
				p.features__item-subheading Не только китайского, но и местного производства!
	.features__promo.features__promo--reverse
		.features__promo-text
			h2.features__promo-heading.features__promo-heading--white Там есть мост дьявола
			span.features__promo-num №2
			p.features__promo-subheading Да, по нему можно пройти! Если вы осмелитесь, конечно
		.features__promo-img.features__promo-img--bridge.no-webp
	.features__items.features__items--other
		.features__item.features__item--other
			.features__item-text.features__item-text--other
				h2.features__item-heading.heading Небольшая площадь
				span.features__item-num №3
				p.features__item-subheading Все интересные места находятся очень близко
		.features__item.features__item--other
			.features__item-text.features__item-text--other
				h2.features__item-heading.heading Красивая дорога
				span.features__item-num №4
				p.features__item-subheading Ехать в Седону из Лас-Вегаса совсем не скучно!
		.features__item.features__item--other
			.features__item-text.features__item-text--other
				h2.features__item-heading.heading Мало туристов
				span.features__item-num №5
				p.features__item-subheading Большинство едет в гранд каньон и толпится там