.gallery
	figure.gallery__item.gallery__item--main
		picture.gallery__images
			source(srcset="../img/media/1.webp" type="image/webp")
			img.gallery__img.gallery__img--main(src="../img/media/1.jpg" alt="thumb")
		figcaption.gallery__info
			.gallery__info-caption
				h2.gallery__info-heading Неродные просторы
				p.gallery__info-subheading Автор фото: Борис
			button.gallery__like
				span.gallery__like-icon
				span.gallery__like-count 1350
	.gallery__items
		figure.gallery__item
			picture.gallery__images
				source(srcset="../img/media/2.webp" type="image/webp")
				img.gallery__img(src="../img/media/2.jpg" alt="thumb")
			figcaption.gallery__info
				.gallery__info-caption
					h2.gallery__info-heading Местная растительность
					p.gallery__info-subheading Автор фото: Сергей
				button.gallery__like
					span.gallery__like-icon
					span.gallery__like-count 143
		figure.gallery__item
			picture.gallery__images
				source(srcset="../img/media/3.webp" type="image/webp")
				img.gallery__img(src="../img/media/3.jpg" alt="thumb")
			figcaption.gallery__info
				.gallery__info-caption
					h2.gallery__info-heading Дорога на север
					p.gallery__info-subheading Автор фото: Петр
				button.gallery__like
					span.gallery__like-icon
					span.gallery__like-count 96
		figure.gallery__item
			picture.gallery__images
				source(srcset="../img/media/4.webp" type="image/webp")
				img.gallery__img(src="../img/media/4.jpg" alt="thumb")
			figcaption.gallery__info
				.gallery__info-caption
					h2.gallery__info-heading Мост дьявола
					p.gallery__info-subheading Автор фото: Антон
				button.gallery__like
					span.gallery__like-icon
					span.gallery__like-count 254