footer.footer
	.footer__container
		a.footer__discover-hashtag(href="#") #VisitSedona
		.footer__social
			a.footer__social-link(href="#")
				img.footer__social-img(src="../img/sprites/sprite.svg#twitter" alt="twitter")
			a.footer__social-link(href="#")
				img.footer__social-img(src="../img/sprites/sprite.svg#fb" alt="fb")
			a.footer__social-link(href="#")
				img.footer__social-img(src="../img/sprites/sprite.svg#youtube" alt="youtube")
		a.footer__copyright(href="https://htmlacademy.ru/" target="_blank" rel="noreferrer noopener") Разработано