if page === "media"
	section.no-webp.intro.intro--sm
		.intro__text.intro__text--divide
			h1.intro__text-heading Фото и видео
			p.intro__text-subheading Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике
else if page === "feedback"
	section.no-webp.intro.intro--sm
		.intro__text.intro__text--divide
			h1.intro__text-heading Оставьте свой отзыв
			p.intro__text-subheading Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях
else
	section.no-webp.intro
		.intro__text
			h1.intro__text-heading Седона - небольшой городок в Аризоне, заслуживающий большего!
			p.intro__text-subheading Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!